# 이클립스 메타데이터 폴더 전체 제외 (필수!)
.metadata/
Servers/

# 이클립스 프로젝트 설정 (팀원간 환경이 완전히 다르면 주석 해제하세요)
#.settings/
#.project
#.classpath
#.factorypath

# 컴파일 및 빌드 결과물 경로
*.class
/build/
/target/
/bin/

# 로그 및 임시 파일
*.log
tmp/

# 보안 및 API 키 설정 파일
config.properties
*.env